
<div class="container">
  <%= render "shared/neon_sign" %>
   <br>
  <%= render "shared/banner" %>
  <br>
  <div class='row'>
    <% @cocktails.each do |cocktail| %>
    <div class='col-md-4'>
      <aside class='card'>
        <figure>
          <% if cocktail.photo? %>
          <%= cl_image_tag cocktail.photo, height: 250, width: 300, crop: :fill, id: 'img'  %>
          <% else %>
          <img src='http://lorempixel.com/250/300/sports' alt='sports image'>
          <% end %>
          <span class='rounded_card'></span>
          <span class='icon-holder'><i class="fas fa-glass-martini-alt"></i></span>
        </figure>
        <article>
          <h2 class='title'><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>

          <footer class='row'>
            <span class='likes col-md-6'>
              <%= link_to cocktail_path(cocktail), method: :delete do %>
              Delete <i class="fas fa-trash-alt px-2"></i>
              <% end %>
              <%= link_to "NEW DELETE", cocktail_path(cocktail), method: :delete  %>
            </span>
            <span class='location col-md-6'>
              <i class="fas fa-glass-cheers"></i>
            </span>
          </footer>

        </article>
      </aside>
    </div>
    <% end %>

  </div><!--row-->
  <br>
  <br>

</div>





