<div class="container">
  <h1>Add favorite drink</h1>
  <p>Give it a name and add a nice photo</p>

  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <div class="flex">
  <%= f.submit "Create cocktail!", class: "btn btn-secondary" %>
  <% if @cocktail.errors.any? %>
  <div class="errors-container">
    <ul>
      <% @cocktail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% end %>
  <%= link_to 'Cancel', cocktails_path, class: "btn btn-secondary"%>
  </div>
  <p>On next page you will specify the ingredients</p>
</div>
